*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box; 
}

a{
    text-decoration: none;  
}

body{
    font-family: "Lucida Sans Regular"  ,sans-serif;
    background-color: white;
}

p{
    margin-top: 10px;
    font-size: 17px;
}

h1{
    font-size: 66px;
    line-height: 105px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 15%;
    color: white;
}

h2{
    font-size: 35px;
    line-height: 43px;
    font-weight: 600;
}

.container{
    max-width: 1140px;
    margin: auto;
} 

.flex-container{
    display: flex;
    margin-top: 30px;
}

.align-center{
    text-align: center;
}

.immagineuno{
    position: absolute;
    left: 60%;
    top: 55%;
    
}

.immaginedue{
    position: absolute;
    left: 65%;
    top: 115%;
    
}

.immaginetre{
    position: absolute;
    left: 65%;
    top: 180%;
    
}



#immagine1{
    width: 90%;
}
#immagine2{
    width: 70%;
}
#immagine3{
    width: 70%;
}

.animazione{
    transition: all 200ms ease; /* serve per dare la durata della transizione della animazione*/
}

.animazione:hover{
    color: red;
}

.item{
    margin: auto;
    padding: 10px 25px;
    border-radius: 16px;
    color: #ffffff;
    background-color: #685044;
    transition: all 300ms ease;
}

.item:hover{
    background-color: #976e59;
}

#paragraph{
    background-color: #093824;
    height: 280px;
    margin-top: 15px;
}

.main-articolo{
    margin-top: 15%;
    margin-bottom: 56px;
}
.articolo{
    margin-top: 20%;
    margin-bottom: 56px;
}

.articolo-flex{
    display: flex;
    flex-direction: column;
}
